.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.pagination__buttons {
    border: 0;
    color: cadetblue;
    background: none;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
    padding: 20px;

}

h2 {
    color: cadetblue;
}